#home{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  height: 90vh;
} 
.aboutMe{
  width: 70%;
  min-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right{
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  animation: upDown 0.8s infinite linear alternate;

}
.right img{
  width: 65%;
  min-width: 230px;
  border-radius: 100%;
  
}
.photo{
  width: 100%;
  display: flex;
  justify-content: center;
  animation: upDown 0.8s infinite linear alternate;
  align-items: center;
}
@keyframes upDown {
  0%{
    top: -5px;
  }
  50%{
    top: 0px
  }
  100%{
    top: 5px;
  }
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 50%;
  justify-content: center;
}
.content span{
  width: 100%;
  font-size: large;
  color: blueviolet;
  font-family: 'Soniano Sans Unicode', sans-serif;

}
.content p{
  margin: 0;
  width: 100%;
  color: white;
  font-size: xxx-large;
  font-family: 'Renogare', sans-serif;
  font-style: normal;
  font-weight: 800;
}
.buttons{
  width: 100%;
  min-width: 500px;
  height: 20%;
  min-height: 100px;
  margin-top: 5%;
  display: flex;
  grid-gap: 5%;

  /* justify-content: space-evenly; */
}

.buttons a{
  width: 27%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
button:hover{
  cursor: pointer;
}
.Curriculum{
  min-width: 140px;
  width: 100%;
  height: 60%;
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0;
  font-family: 'Soniano Sans Unicode', sans-serif;
  font-size: 16px;
  max-width: 400px;

}
.Contact{
  min-width: 140px;
  width: 100%;
  height: 60%;
  max-width: 400px;
  font-family: 'Soniano Sans Unicode', sans-serif;
  background-color: #0e081d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px blueviolet solid;
  font-size: 14px;
}
.socialMedia{
  width: 100%;
  display: flex;
  padding-top: 5%;
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
}
.icon{
  color: white;

}
@media (max-width: 1250px) {
  .buttons{
    margin-top: 2%;
  
  }
  .content p{
    font-size: xx-large;
  }
}
@media (max-width: 800px) {
  .buttons{
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
 
  }
  .photo{
    align-items: center;
    justify-content: center;
  }
  .right img{
    width: 65%;
    min-width: 180px;
    border-radius: 100%;
    
  }
  .buttons a{
    width: 70%;
    height: 40%;
    margin-bottom: 1%;
  }
  #home{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .content{
    width: 100%;
    align-items: center;
    justify-content: center;
    min-width: none;
  }
  .aboutMe{
    width: 100%;
    height: 60%;
    justify-content: flex-start;
    min-width: 0;
    margin-top: 4vh;

  }
  .photo{
    width: 100%;
    height: 400px;
    margin-top: 14vh;
  }
  .photo img{
    width: 30%;
  }
  .content span{
    text-align: center;
  }
  .tittle{
    text-align: center;
  }
  .buttons{
    justify-content: center;
    width: 100%;
    min-width: 0;
  }
  .Curriculum{
    width: 100%;
    height: 100%;
  }
  .Contact{
    width: 100%;
    height: 100%;
  }
  .content p{
    font-size: xx-large;
  }
}