.ProjectViewContainer{
    width: 400px;
    height: 400px;
    background-color: #06010f;
    border-radius: 10px;

}
.ProjectName{
    padding: 0px 20px 0px 40px;
}
.ProjectName h3{
    font-size: 130%;
    color: white;
}
.ProjectImage{
    /* background-color: aqua; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding: 10px; */
    width: 100%;
    height: 60%;
}
.ProjectImage img{
    /* max-width: 400px; */
    /* max-height: 300px; */
    border-radius: 10px;
}