.projectContainer{
     width: 30%;
     /* height: 80%; */
    display: flex;
    border-radius: 10px;
    margin: 20px;
    flex-direction: column;

    background-color: #1a0f33;
    min-width: 400px;
    min-height: 550px;
    
}
.projectImage{
    width: 100%;
    /* height: 40%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectImage img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectDescription{
    width: 100%;
    height: 60%;
    display: flex;
    /* margin-top: 5%; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.name{
    width: 90%;
    height: 10%;
    margin: 20px 20px 0px 20px;
    /* align-items: center; */
    display: flex;
    /* justify-content: center; */
}
.nameFont{
    font-size: 130%;
    color: white;

}
.date{
    display: flex;
    align-items: end;
    color: rgb(206, 206, 206);
    justify-content: end;
    font-size: 80%;
}
.name h5{
    width: 50%;
    text-align: left;
    margin: 0;
}
.description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 0px 0px 20px;

}
.description p{
    width: 90%;
    color: rgb(206, 206, 206);
    font-size: medium;
    text-align: left;
    min-height: 42px;

}
.TechnologiesUsed{
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin: 10px 00px 0px 20px;

}
.TechnologiesUsed img{
    width: 5%;
    border-radius: 100%;
    min-width: 20px;
}

.links{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0px 0px 0px 20px;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    min-height: 50px;

}
.links a{
    width: 40%;
    height: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    

}
.links a button{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0;
    font-family: 'Soniano Sans Unicode', sans-serif;
    font-size: 16px;
    max-width: 400px;
    min-height: 45px;

}

.links a:hover{
    cursor: pointer;
}

@media (max-width:1000px) {

    
}
@media (max-width:800px) {
   
}