#projects{
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}
.containerProjects{
    opacity: 0;
    transition: 1.5s;
    transform: translateX(100%);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.show{
    opacity: 1;
    transition: 1.5s;
    transform: translateX(0%);

}

.containerProjects > .tittle > h2{
    color: rgb(255, 255, 255);
    font-size: xxx-large;
    font-family: 'Renogare', sans-serif;
    font-style: normal;
    font-weight: 800;
}
.tittle > h2{

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerProjects > .tittle{
    margin-bottom: 5%;
}
.projetos{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10%;
    justify-content: center;
    
}
