#projects{
    height: auto;
    
}
.containerProjects{
    opacity: 0;
    transition: 1.5s;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.show{
    opacity: 1;
    transition: 1.5s;
    transform: translateX(0%);

}

.containerProjects > .tittle > h2{
    color: rgb(255, 255, 255);
    font-size: xxx-large;
    font-family: 'Renogare', sans-serif;
    font-style: normal;
    font-weight: 800;
}
.tittle > h2{

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerProjects > .tittle{
    margin-bottom: 5%;
}
.projetos{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    

    
}

@media (max-Width:1600px) {
    .projetos{
        width: 90%;
    }
}
@media (max-Width:1400px) {
    .projetos{
        width: 95%;
    }
}
@media (max-Width:1300px) {
    .projetos{
        width: 100%;
    }
}
@media (max-Width:1200px) {
    .projetos{
        justify-content: center;
    }
}